.room-card.compact {
  height: 262px;
  width: 370px;
  padding: 10px;

  background-color: #2b2b2b;
  border: 4px solid #8998ad;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
}

/* LEFT */
.room-left {
  margin-top: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* ⬅️ PENTING */
  gap: 6px;
  /* ⬅️ kontrol jarak */
}

.room-no {
  font-size: 44px;
  font-weight: 900;
  color: #f9fafb;
  line-height: 1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
}

.room-name {
  background-color: #3b5cff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  padding: 4px 10px;
  border-radius: 3px;
  text-align: center;
  margin-top: 2px;
  padding-right: 4px;
  margin-left: -6px;
}

.room-temp {
  display: flex;
  margin-top: 40px;
  align-items: baseline;
  margin-left: -6px;
}

.temp-icon {
  font-size: 50px;
  color: #ffffff;
  margin-right: -10px;

}

.temp-value {
  font-size: 65px;
  font-weight: 900;
  color: #6EA8FF;
  line-height: 1;
  margin-top: 5px;
}

/* DIVIDER */
.room-divider {
  width: 4px;
  background-color: #374151;
}

/* RIGHT */
.room-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.room-metric {
  line-height: 1.1;
}

.metric-label-rh {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 5px;
  padding-left: 15px;
  margin-bottom: -30px;
}

.metric-label-lumens {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 5px;
  padding-left: 15px;
}

.metric-value-rh {
  font-size: 60px;
  font-weight: 900;
  color: #6EA8FF;
  text-align: center;
  margin-left: 45px;

}

.metric-value-lumens {
  font-size: 60px;
  font-weight: 900;
  color: #6EA8FF;
  text-align: center;
}

/* ========================= */
/* STATUS BACKGROUND WARNING */
/* ========================= */

.card.room-card.temp-warning {
  background-color: #7a6a00;
  border: 4px solid #facc15;
  animation: blink-yellow 1.5s infinite;
}

.card.room-card.temp-danger {
  background-color: #7a0000;
  border: 4px solid #ef4444;
  animation: blink-red 1s infinite;
}


/* === BLINK EFFECT === */
@keyframes blink-yellow {
  0% {
    box-shadow: 0 0 0px #facc15;
  }

  50% {
    box-shadow: 0 0 20px #facc15;
  }

  100% {
    box-shadow: 0 0 0px #facc15;
  }
}

@keyframes blink-red {
  0% {
    box-shadow: 0 0 0px #ef4444;
  }

  50% {
    box-shadow: 0 0 25px #ef4444;
  }

  100% {
    box-shadow: 0 0 0px #ef4444;
  }
}